{% macro errorList(errors) %}
    {% if errors | length %}
        <ul class="errors text-danger text-left">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro errorMessage(error) %}
    {% if error | length %}
        <ul class="errors text-danger text-left">
            <li>{{ error }}</li>
        </ul>
    {% endif %}
{% endmacro %}

{% macro noticeMessage(message) %}
    {% if message %}
        <div class="alert alert-primary mb-5" role="alert">
            {{ message }}
        </div>
    {% endif %}
{% endmacro %}


