{% extends '_layouts/access' %}

{% block content %}
    <h2 class="h4">Forgot Your Password?</h2>
    <p>An account with the associated email address was found. Keep an eye on your inbox as you will receive an email containing a password reset link shortly.</p>

    <p class="forgot-link mb-0 mt-2">
        <a href="{{ url('login') }}">&larr; Back to login</a>
    </p>
{% endblock %}